body {
background-color: bisque;
  
}

#uudised1 {
    width: 115px ;
    background-color: burlywood;
    margin-left: 300px;
    margin-right: auto;
}
  
#uudis1 { 
    front-size: 16px;
    display: inline-block;
    width: 250px;
    border: 1px outset black;
    padding: 30px;
    box-sizing: border-box;
    background-color: yellowgreen;

} 

#uudis2 { 
    front-size: 16px;
    display: inline-block;
    width: 250px;
    border: 1px outset black;
    padding: 30px;
    box-sizing: border-box;
    background-color: yellowgreen;
} 

#uudis3 { 
    front-size: 16px;
    display: inline-block;
    width: 250px;
    border: 1px outset black;
    padding: 30px;
    box-sizing: border-box;
    background-color: yellowgreen;
}
